{% extends "index_plenna.html" %}
{% block opciones %}
<li class="nav-item-wrapper"><a href="{% url 'administracion:vista_pacientes'%}" class="nav-link">Ver pacientes</a></li>
<li class="nav-item-wrapper"><a href="{% url 'administracion:vista_insights'%}" class="nav-link">Ver Insights</a></li>

{% if is_admin %}
<li class="nav-item-wrapper"><a href="{% url 'administracion:vista_Dgral'%}" class="nav-link">Administrar</a></li>
{% endif %}
<li class="nav-item-wrapper"><a href="{% url 'administracion:logout'%}" class="nav-link">Salir</a></li>

<li class="nav-item-wrapper last"></li>
<a href="https://www.soyplenna.com/servicios" class="button-primary header-button full-width w-button">Agenda tu cita</a></li>

{% endblock %}

{% block contenido %}
<style>
    .wrapper {
  display: grid;
}
.form-inline
  width: 600px
  border: 1px dotted black
  left: 50px
  top: 50px
  padding: 5px 20px
  
  .form-group
    margin-bottom: 10px
    width: 100%
    display: flex

  .control-label
    padding: 6px 9px 6px 6px
    border: 1px solid #ccc
    border-right: 0
    border-radius: 5px 0 0 5px
    background-color: rgba(179, 177, 177, 0.28)

  .form-control
    flex: 1
    border-radius: 0px 5px 5px 0
</style>
<div class="section home-hero wf-section">
    <div class="container-default w-container"><div class="column-grid home-hero">
            {% autoescape off %}
            {{ cuestionario }}
        {% endautoescape %}
        </div></div></div></div>


{% endblock %}