{% extends "index_plenna.html" %}

{% block opciones %}
<li class="nav-item-wrapper"><a href="/doctor" class="nav-link">Sección de Doctores</a></li>
<li class="nav-item-wrapper"><a href="/administrar" class="nav-link">Administrador</a></li><li class="nav-item-wrapper last"><a href="https://www.soyplenna.com/servicios" class="button-primary header-button full-width w-button">Agenda tu cita</a></li>

{% endblock %}
{% load static %}

{% block contenido %}
<script async="" src="{% static 'index_plenna_files/validacion.js'%}"></script>
<div class="section home-hero wf-section">
    <div class="container-default w-container"><div class="column-grid home-hero">
        <h4>Para continuar debemos asegurarnos de que eres un(a) 
            {% if is_admin %}
            Dra. general
            {% else  %}
            Doctora
            {% endif %}
</h4>
        <div class="split-content home-hero-left">
            <form action="{% if is_admin %}{% url 'administracion:loginA'%}{% else  %}{% url 'administracion:login'%}{% endif %}" method="post">{% csrf_token %}
                <label for="fname">Usuario:</label>
                <input type="text" id="usu" name="usu"><br><br>
                <label for="lname">Contraseña:</label>
                <input type="password" id="pass" name="pass"><br><br>
                <input type="hidden" name="hid" id="hid">
                <input type="submit">
                <input type="reset">
            </form>            
            </div></div></div></div></div>

</div>


{% endblock %}