{% extends "index_plenna.html" %}
{% block opciones %}
<li class="nav-item-wrapper"><a href="/pacientes" class="nav-link">Ver pacientes</a></li>
<li class="nav-item-wrapper"><a href="/" class="nav-link">Administrar</a></li><li class="nav-item-wrapper last"><a href="https://www.soyplenna.com/servicios" class="button-primary header-button full-width w-button">Agenda tu cita</a></li>

{% endblock %}

{% block contenido %}
<div class="section home-hero wf-section">
    <div class="container-default w-container"><div class="column-grid home-hero">
        <div class="split-content home-hero-left"><h1>Bienvenido:</h1>
            <h1 class="heading">#Soy Plenna cuando <span class="home-hero-underline">las&nbsp;cuido</span></h1><p class="paragraph-2">Has iniciado sesión, ya puedes seguir cuidando a tus pacientes</p><div class="_2-button-wrap"><a href="/pacientes" class="button-primary _2-buttons w-button">Ver pacientes</a><a href="/administracion" class="button-secondary w-button">Administrador</a></div></div></div></div></div>


{% endblock %}