{% extends "index_plenna.html" %}
{% block opciones %}
<li class="nav-item-wrapper"><a href="{% url 'administracion:vista_pacientes'%}" class="nav-link">Ver pacientes</a></li>
<li class="nav-item-wrapper"><a href="{% url 'administracion:vista_insights'%}" class="nav-link">Ver Insights</a></li>

{% if is_admin == True %}
<li class="nav-item-wrapper"><a href="{% url 'administracion:vista_Dgral'%}" class="nav-link">Administrar</a></li>
{% endif %}
<li class="nav-item-wrapper"><a href="{% url 'administracion:doctor'%}" class="nav-link">Volver a Doctor</a></li>
<li class="nav-item-wrapper"><a href="{% url 'administracion:logout'%}" class="nav-link">Salir</a></li>

<li class="nav-item-wrapper last"></li>
<a href="https://www.soyplenna.com/servicios" class="button-primary header-button full-width w-button">Agenda tu cita</a></li>

{% endblock %}

{% block contenido %}
<script type='text/javascript' src='https://prod-useast-a.online.tableau.com/javascripts/api/viz_v1.js'>
</script>
<div class='tableauPlaceholder' style='width: 1500px; height: 796px;'>
    <object class='tableauViz' width='1500' height='796' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fprod-useast-a.online.tableau.com%2F' /> 
        <param name='embed_code_version' value='3' /> 
        <param name='site_root' value='&#47;t&#47;visualizacionesplenna' />
        <param name='name' value='Plenna&#47;Ginecologia' />
        <param name='tabs' value='no' /><param name='toolbar' value='yes' />
        <param name='showAppBanner' value='false' />
    </object></div>

    <script type='text/javascript' src='https://prod-useast-a.online.tableau.com/javascripts/api/viz_v1.js'>
    </script>
    <div class='tableauPlaceholder' style='width: 1500px; height: 796px;'>
        <object class='tableauViz' width='1500' height='796' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fprod-useast-a.online.tableau.com%2F' /> 
            <param name='embed_code_version' value='3' /> <param name='site_root' value='&#47;t&#47;visualizacionesplenna' />
            <param name='name' value='Plenna&#47;Nutricion' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='yes' />
            <param name='showAppBanner' value='false' />
        </object></div>
    
        <script type='text/javascript' src='https://prod-useast-a.online.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1500px; height: 796px;'><object class='tableauViz' width='1500' height='796' style='display:none;'><param name='host_url' value='https%3A%2F%2Fprod-useast-a.online.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='&#47;t&#47;visualizacionesplenna' /><param name='name' value='Plenna&#47;Psicologia' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /></object></div>

        <script type='text/javascript' src='https://prod-useast-a.online.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1500px; height: 796px;'><object class='tableauViz' width='1500' height='796' style='display:none;'><param name='host_url' value='https%3A%2F%2Fprod-useast-a.online.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='&#47;t&#47;visualizacionesplenna' /><param name='name' value='Plenna&#47;Sexologia' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /></object></div>

        <script type='text/javascript' src='https://prod-useast-a.online.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1500px; height: 796px;'><object class='tableauViz' width='1500' height='796' style='display:none;'><param name='host_url' value='https%3A%2F%2Fprod-useast-a.online.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='&#47;t&#47;visualizacionesplenna' /><param name='name' value='Plenna&#47;Suenio' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /></object></div>


{% endblock %}